header {
background-color: Purple;
border: thin #336699 solid;
padding: 10px;
margin: 10px;
text-align: center;
}
body {
font-family: "Lucida Sans Unicode", "Luicida Grande", Geneva, sans-serif;
}
header h1 {
        margin: 0px;
        color: gold;
        font-size: xx-large;
}
header .Subtitle {
margin: 0px;
font-weight: bold;
}
