<html>
	<head>
		<title>My First Page</title>
		
		<!-- Latest compiled and minified CSS -->
		<link	rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
				integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
				crossorigin="anonymous">
		
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.js"
				integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
				crossorigin="anonymous"></script>
		
		<script type="text/javascript">
			// jQuery has a magic function that gets called when the page is loaded
			$().ready(function() {						
				// Get reference to input text box for name
				var txtItem = $("#txtItem")
				
				// Get reference to the output header
				var listToDoItems = $("#listToDoItems")
					
				var refreshList = function refreshList() {
					$.ajax({
						type: "GET",
						url: "http://localhost:5000/getToDo"
					})
					.done(function(data) {
						listToDoItems.empty()
						
						// Set the output to say hello
						console.log("To Do Returned " + JSON.stringify(data))
						$.each(data, function(i, item) {
							listToDoItems.append($("<li>").append(item))
						});
					})
					.fail(function(data) {
						console.log("Failed " + JSON.stringify(data))
					});
				}
				
				refreshList()
				
				// Build our function to call when the button is clicked
				var addItem = function addItem() {				
					var data = {
						item : txtItem.val()
					}
					
					// Post the new item
					$.ajax({
						type: "POST",
						url: "http://localhost:5000/addToDo",
						data: data
					})
					.done(function(data) {
						refreshList();
					})
					.fail(function(data) {
						console.log("Failed " + JSON.stringify(data))
					});
				}
				
				// We register the click function like this
				$("#cmdAddItem").click(addItem)
			});
		</script>
	</head>
	<body>
		<div class="container">
			<h1>To Do List</h1>
			
			<form>
				<div class="form-group">
					<label for="txtItem">Item</label>
					<input class="form-control" type="text" id="txtItem" value="Go Shopping" />
				</div>
				<button type="button" class="btn btn-primary" id="cmdAddItem">Add</button>
			</form>
		
			<h2>To Do List</h2>
			<ul id="listToDoItems">
			</ul>
		</div>
	</body>
</html>
