body {
  font-family: Impact;
  background-color: light blue;
  color:green;
}

.roomname {
  font-size: 30px;
  text-align: center;
}

.room {
  position: relative;
  height: 200px;
  border: 1px solid ;
}

.description {
  padding: 10px;
}