header {
	background-color: darkgreen;
	border: thick #336699 solid;
	padding: 10px;
	margin: 15px;
	text-align: center;	
}
html {
	background-color: black;
	color: #8000FF;
	
}

main {
	font-size: medium;
	font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
	padding-top: 20px
	padding-right: 50px
	padding-bottom: 5px
	padding-left: 50px
	line-height: 120%;
}

